.contact-main{
    background: url(https://images.unsplash.com/photo-1625164946809-3054566e6c0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fGRhcmslMjBiYWNrZ3JvdW5kJTIwbWluaW1hbGlzdGljfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-size: cover;
        color: white;
    min-height: 100vh;
}

.contact-main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    min-width: 75%;
    text-align: center;
}

.contact-main-text h1{
    font-size: 4rem;
}

.contact-main-text p{
    font-size: 1.5rem;
    margin: 1rem 0  2rem 0;
}

.contact-main-text a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border: 1px solid white;
    position: relative;
}

.contact-main-text a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: goldenrod;
    width: 100%;
    height: 100%;
    z-index: -1; 
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
}


.contact-main-text a:hover::before{
    transform: scaleX(1);
}

@media screen and (max-width:600px) {
    .contact-main-text{
        width: 90%;

    }
    .contact-main-text h1 {
        font-size: 2rem;
    }
    .contact-main-text p{
        font-size: 1rem;
    }
}

.contact-form{
    text-align: center;
    padding: 1rem;
}

.contact-form form{
    max-width: 500px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;

}

.contact-form form input{
    height: 40px;
    padding: 5px 10px;
    margin: 5px;
}

.contact-form form input:focus{
    outline: 2px solid black;

}

.contact-form form textarea{
    padding: 5px 10px;
    margin-bottom: 5px;
}

.contact-form form button{
    background-color: blue;
    height: 40px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
}

.contact-form form button:hover{
    background-color: orangered;
}


html{ 
    scroll-behavior : smooth ;
} 
.totop { 
    position : fixed ; 
    bottom : 10px ; 
    right : 10px ; 
    background-color : #FFBF00 ; 
    padding : 20px ; 
    border-radius : 20px ;
}